version: "3.8"

services:
  benchmark:
    image: ghcr.io/leon0399/benchmarks:latest
    build:
      context: .
      dockerfile: Dockerfile
    command: ./docker-entrypoint.sh
    tty: true
    stdin_open: true
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfermed
    working_dir: /app
    volumes:
      - ./:/app
    tmpfs:
      - /sys/fs/cgroup
