version: "3.8"

services:
  base: &base
    image: ghcr.io/leon0399/benchmarks-base:latest
    build:
      context: ./docker/_base
      cache_from:
        - type=registry,ref=ghcr.io/leon0399/benchmarks-base:buildcache
        - type=registry,ref=ghcr.io/leon0399/benchmarks-base:latest
    command: ./docker-entrypoint.sh
    tty: true
    stdin_open: true
    working_dir: /app
    volumes:
      - ./:/app
    tmpfs:
      - /sys/fs/cgroup

  benchmark:
    <<: *base
    image: ghcr.io/leon0399/benchmarks:latest
    build:
      context: .
      dockerfile: Dockerfile
      cache_from:
        - type=registry,ref=ghcr.io/leon0399/benchmarks:buildcache
        - type=registry,ref=ghcr.io/leon0399/benchmarks:latest
    depends_on:
      - base

  c:
    <<: *base
    image: ghcr.io/leon0399/benchmarks-c:latest
    build:
      context: .
      dockerfile: ./docker/c/Dockerfile
      cache_from:
        - type=registry,ref=ghcr.io/leon0399/benchmarks-c:buildcache
        - type=registry,ref=ghcr.io/leon0399/benchmarks-c:latest
    depends_on:
      - base

  c-plus-plus:
    <<: *base
    image: ghcr.io/leon0399/benchmarks-c-plus-plus:latest
    build:
      context: .
      dockerfile: ./docker/c-plus-plus/Dockerfile
      cache_from:
        - type=registry,ref=ghcr.io/leon0399/benchmarks-c-plus-plus:buildcache
        - type=registry,ref=ghcr.io/leon0399/benchmarks-c-plus-plus:latest
    depends_on:
      - base

  c-sharp:
    <<: *base
    image: ghcr.io/leon0399/benchmarks-c-sharp:latest
    build:
      context: .
      dockerfile: ./docker/c-sharp/Dockerfile
      cache_from:
        - type=registry,ref=ghcr.io/leon0399/benchmarks-c-sharp:buildcache
        - type=registry,ref=ghcr.io/leon0399/benchmarks-c-sharp:latest
    depends_on:
      - base

  fortran:
    <<: *base
    image: ghcr.io/leon0399/benchmarks-fortran:latest
    build:
      context: .
      dockerfile: ./docker/fortran/Dockerfile
      cache_from:
        - type=registry,ref=ghcr.io/leon0399/benchmarks-fortran:buildcache
        - type=registry,ref=ghcr.io/leon0399/benchmarks-fortran:latest
    depends_on:
      - base

  go:
    <<: *base
    image: ghcr.io/leon0399/benchmarks-go:latest
    build:
      context: .
      dockerfile: ./docker/go/Dockerfile
      cache_from:
        - type=registry,ref=ghcr.io/leon0399/benchmarks-go:buildcache
        - type=registry,ref=ghcr.io/leon0399/benchmarks-go:latest
    depends_on:
      - base

  java:
    <<: *base
    image: ghcr.io/leon0399/benchmarks-java:latest
    build:
      context: .
      dockerfile: ./docker/java/Dockerfile
      cache_from:
        - type=registry,ref=ghcr.io/leon0399/benchmarks-java:buildcache
        - type=registry,ref=ghcr.io/leon0399/benchmarks-java:latest

  kotlin:
    <<: *base
    image: ghcr.io/leon0399/benchmarks-kotlin:latest
    build:
      context: ./docker/kotlin
      cache_from:
        - type=registry,ref=ghcr.io/leon0399/benchmarks-kotlin:buildcache
        - type=registry,ref=ghcr.io/leon0399/benchmarks-kotlin:latest

  lua:
    <<: *base
    image: ghcr.io/leon0399/benchmarks-lua:latest
    build:
      context: .
      dockerfile: ./docker/lua/Dockerfile
      cache_from:
        - type=registry,ref=ghcr.io/leon0399/benchmarks-lua:buildcache
        - type=registry,ref=ghcr.io/leon0399/benchmarks-lua:latest
    depends_on:
      - base

  javascript:
    <<: *base
    image: ghcr.io/leon0399/benchmarks-javascript:latest
    build:
      context: .
      dockerfile: ./docker/javascript/Dockerfile
      cache_from:
        - type=registry,ref=ghcr.io/leon0399/benchmarks-javascript:buildcache
        - type=registry,ref=ghcr.io/leon0399/benchmarks-javascript:latest
    depends_on:
      - base

  php:
    <<: *base
    image: ghcr.io/leon0399/benchmarks-php:latest
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
      cache_from:
        - type=registry,ref=ghcr.io/leon0399/benchmarks-php:buildcache
        - type=registry,ref=ghcr.io/leon0399/benchmarks-php:latest
    depends_on:
      - base

  perl:
    <<: *base
    image: ghcr.io/leon0399/benchmarks-perl:latest
    build:
      context: .
      dockerfile: ./docker/perl/Dockerfile
      cache_from:
        - type=registry,ref=ghcr.io/leon0399/benchmarks-perl:buildcache
        - type=registry,ref=ghcr.io/leon0399/benchmarks-perl:latest
    depends_on:
      - base

  python:
    <<: *base
    image: ghcr.io/leon0399/benchmarks-python:latest
    build:
      context: .
      dockerfile: ./docker/python/Dockerfile
      cache_from:
        - type=registry,ref=ghcr.io/leon0399/benchmarks-python:buildcache
        - type=registry,ref=ghcr.io/leon0399/benchmarks-python:latest
    depends_on:
      - base

  ruby:
    <<: *base
    image: ghcr.io/leon0399/benchmarks-ruby:latest
    build:
      context: .
      dockerfile: ./docker/ruby/Dockerfile
      cache_from:
        - type=registry,ref=ghcr.io/leon0399/benchmarks-ruby:buildcache
        - type=registry,ref=ghcr.io/leon0399/benchmarks-ruby:latest
    depends_on:
      - base

  rust:
    <<: *base
    image: ghcr.io/leon0399/benchmarks-rust:latest
    build:
      context: .
      dockerfile: ./docker/rust/Dockerfile
      cache_from:
        - type=registry,ref=ghcr.io/leon0399/benchmarks-rust:buildcache
        - type=registry,ref=ghcr.io/leon0399/benchmarks-rust:latest
    depends_on:
      - base

  swift:
    <<: *base
    image: ghcr.io/leon0399/benchmarks-swift:latest
    build:
      context: .
      dockerfile: ./docker/swift/Dockerfile
      cache_from:
        - type=registry,ref=ghcr.io/leon0399/benchmarks-swift:buildcache
        - type=registry,ref=ghcr.io/leon0399/benchmarks-swift:latest
    depends_on:
      - base

  zig:
    <<: *base
    image: ghcr.io/leon0399/benchmarks-zig:latest
    build:
      context: .
      dockerfile: ./docker/zig/Dockerfile
      cache_from:
        - type=registry,ref=ghcr.io/leon0399/benchmarks-zig:buildcache
        - type=registry,ref=ghcr.io/leon0399/benchmarks-zig:latest
    depends_on:
      - base
